<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Photo Contest</title>

  <!-- CSS -->
  <link th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
        href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/front-end/css/modern-business.css}"
        href="../static/front-end/css/modern-business.css" rel="stylesheet">
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html" th:href="@{/}">Photo Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Contest entries</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html" th:href="@{/}">Home</a>
      </li>
      <li class="breadcrumb-item active">Contest Entries</li>
    </ol>

    <!-- Entries -->
    <div th:each="entry : ${contestEntries}">
      <div class="row">
        <div class="col-md-7">
          <a href="#" th:if="${entry.getPhoto() == null}">
            <img class="img-fluid rounded mb-3 mb-md-0"  th:src="@{/userPhotos/photoNotFound.jpg}" src="http://placehold.it/700x400" alt="">
          </a>

          <a href="#" th:if="${entry.getPhoto() != null}">
            <img class="img-fluid rounded mb-3 mb-md-0" th:src="@{${'/userPhotos/'+entry.getPhoto().getSource()}}" src="http://placehold.it/700x400" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3 th:text="${entry.getTitle()}">Entry title</h3>
          <p th:text="${entry.getStory()}">Entry story</p>
          <a class="btn btn-primary" href="#" th:if="${contestIsInPhase2}"
             th:href="@{/organizer/contest/{conId}/create/entry/{entId}/review(entId=${entry.getEntryId()}, conId=${contestId})}"
             style="position:absolute;bottom:0;">
            Create review
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          <a class="btn btn-primary" href="" th:if="${entry.getContest().isFinished()==true}"
             th:href="@{${'/users/entries/'+entry.getEntryId()+'/all-reviews'}}">View Jury Reviews
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <hr>
    </div>
    <div>
      <h3 style="color: red" th:if="${error != null}" th:text="${'No available entries!'}"></h3>
    </div>
  </div>
  <div style="position: relative; margin-top: 100px;">
  </div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
