<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Photo Contest</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/front-end/css/modern-business.css}"
          href="../static/front-end/css/modern-business.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html" th:href="@{/}">Photo Contest</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" th:text="${'Entries for contest with ID: '+finishedContestEntries.get(0).getContestId()}">
        Entries for Contest #id
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="userHomePage.html" th:href="@{/users}">Users Home Page</a>
        </li>
        <li class="breadcrumb-item active">All Contest Entries</li>
    </ol>

    <!-- Contest Entries -->

    <div class="row" th:each="entryDto : ${finishedContestEntries}">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">

                <a href="#" th:if="${entryDto.getPhotoSoruce() == null}">
                    <img class="card-img-top" th:src="@{/userPhotos/photoNotFound.jpg}" src="http://placehold.it/700x400" alt="">
                </a>

                <a href="#" th:if="${entryDto.getPhotoSoruce() != null}">
                    <img class="card-img-top"   th:src="@{${'/userPhotos/'+entryDto.getPhotoSoruce()}}" src="http://placehold.it/700x400" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="" th:text="${entryDto.getEntryTitle()}"
                           th:href="@{${'/users/contests/'+entryDto.getContestId()+'/entry/'+entryDto.getEntryId()}}">Entry Title
                        </a>
                    </h4>
                    <p class="card-text" th:text="${entryDto.getEntryStory()}">Entry story</p>
                </div>
            </div>
        </div>
        <div>
            <p th:if="${finishedContestEntries.size()==0 || error!=null}" th:text="${'No available entries!'}"></p>
        </div>
    </div>


    <!-- Pagination -->

</div>
<!-- /.container -->
<div style="position: relative; margin-top: 100px;">
</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/front-end/vendor/jquery/jquery.min.js}"
        src="../static/front-end/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
