<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Photo Contest</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
        href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/front-end/css/modern-business.css}"
        href="../static/front-end/css/modern-business.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html" th:href="@{/}">Photo Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Open Active Contests
      <small>Available to participate</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="userHomePage.html" th:href="@{/users}">Users Home Page</a>
      </li>
      <li class="breadcrumb-item active">Open Active Contests</li>
    </ol>

    <!-- Contests-->

    <div class="row" th:each="contest : ${openToParticipateContests}">
      <div class="col-md-7">
        <a href="#" th:if="${contest.getPhoto() == null}">
          <img class="card-img-top" th:src="@{/userPhotos/photoNotFound.jpg}" src="http://placehold.it/700x400" alt="">
        </a>

        <a href="#" th:if="${contest.getPhoto() != null}">
          <img class="card-img-top" th:src="@{${'/userPhotos/'+contest.getPhoto().getSource()}}" src="http://placehold.it/700x400" alt="">
        </a>
        <hr>
      </div>
      <div class="col-md-5">
        <h3  th:text="${contest.getTitle()}" th:value="${contest.getContestId()}">Contest title</h3>
        <p th:text="${'Category: ' + contest.getCategories().getCategoryType()}"></p>
        <p th:text="${'Phase 1 time: ' + contest.getPhaseITime()}"></p>
        <p th:text="${'Phase 2 time: ' + contest.getPhaseIITime()}"></p>
        <a class="btn btn-primary" href=""
           th:href="@{${'/users/contests/'+contest.getContestId()+'/enter'}}">Create Entry
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <div>
      <p th:if="${openToParticipateContests==null||openToParticipateContests.size()==0 || error!=null}" th:text="${'No available contests!'}"></p>
    </div>

    <!-- Pagination -->


  </div>
  <!-- /.container -->
  <div style="position: relative; margin-top: 100px;">
  </div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/front-end/vendor/jquery/jquery.min.js}"
          src="../static/front-end/vendor/jquery/jquery.min.js"></script>
  <script th:src="@{/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js}"
          src="../static/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
