<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">

  <title>Photo Contest</title>

  <!-- CSS -->
  <link th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
        href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/front-end/css/modern-business.css}"
        href="../static/front-end/css/modern-business.css" rel="stylesheet">
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html" th:href="@{/}">Photo Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Junkies Sorted by Score</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html"  th:href="@{/}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="index.html" th:href="@{/organizer}">Organizers</a>
      </li>
      <li class="breadcrumb-item active">Junkies sorted</li>
    </ol>

    <div class="row">
      <div th:each="user : ${sortedJunkies}" class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <!--<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
          <div class="card-body">
            <h4 class="card-title">
              <a href="#" th:text="${user.getUserName()}"></a>
            </h4>
            <p th:text="${'First name: ' + user.getFirstName()}"></p>
            <p th:text="${'Last name: ' + user.getLastName()}"></p>
            <p th:text="${'Score: ' + user.getUserScore().getTotalScore()}"></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->
  <div style="position: relative; margin-top: 100px;">
  </div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
    </div>
  </footer>
</body>
</html>
