<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">

  <title>Photo Contest</title>

  <!-- CSS -->
  <link th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
        href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/front-end/css/modern-business.css}"
        href="../static/front-end/css/modern-business.css" rel="stylesheet">

</head>
<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html" th:href="@{/}">Photo Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="createContest.html" th:href="@{/contests/phase/1}">Contests in phase 1</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="createContest.html" th:href="@{/contests/phase/2}">Contests in phase 2</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="createContest.html" th:href="@{/contests/finished}">Finished Contests</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="createContest.html" th:href="@{/organizer/view/junkies/sorted}">Junkies</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="createContest.html" th:href="@{/contests/create}">Create Contest</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="index.html" th:href="@{/}">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" th:text="${'Welcome ' + currentUser.getUserName()}"></h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html" th:href="@{/}">Home</a>
      </li>
      <li class="breadcrumb-item active">Organizer</li>
    </ol>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div th:each="contest : ${openContests}" class="col-lg-4 mb-4">
        <div class="card h-100">
          <a style="font-weight: bolder;" class="card-header" href="finishedContestEntries.html" th:href="@{/contests/{id}/all-entries(id=${contest.getContestId()})}" th:text="${contest.getTitle()}">Contest title</a>
          <div class="card-body">
            <p th:text="${'Phase 1 time: ' + contest.getPhaseITime()}"></p>
            <p th:text="${'Phase 2 time: ' + contest.getPhaseIITime()}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
    </div>
  </footer>

  <!-- JavaScript -->
  <script th:src="@{/front-end/vendor/jquery/jquery.min.js}"
          src="../static/front-end/vendor/jquery/jquery.min.js"></script>
  <script th:src="@{/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js}"
          src="../static/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/front-end/js/jqBootstrapValidation.js"></script>
  <script src="../static/front-end/js/contact_me.js"></script>
</body>
</html>
