<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">

    <title>Photo Contest</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/front-end/css/modern-business.css}"
          href="../static/front-end/css/modern-business.css" rel="stylesheet">
    <link th:href="@{/front-end/vendor/bootstrap/css/photos_style.css}"
          href="../static/front-end/vendor/bootstrap/css/photos_style.css" rel="stylesheet">


</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html" th:href="@{/}">Photo Contest</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Photo Upload</h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="userHomePage.html" th:href="@{/users}">Users Home Page</a>
        </li>
        <li class="breadcrumb-item active">Upload Photo To Archive</li>
    </ol>

    <!-- Upload Form -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            <h3>Select a photo to upload</h3>
            <form method="post" action="#" th:action="@{/users/photo-archive/upload}" enctype="multipart/form-data"
                  th:object="${fileFromUrl}">

                <h4>How would you like to upload a photo?</h4>

                <div class="container-fluid">
                    <div>
                        <input type="radio" name="upload-choice" id="upload-choice-file" required>
                        <label for="upload-choice-file">Browse for photo to upload</label>

                        <div class="reveal-if-active form-group">
                            <label for="which-file">Select photo and submit to upload</label>
                            <input type="file" id="which-file" name="file" class="require-if-active form-control-file"
                                   data-require-pair="#upload-choice-file">
                            <small th:text="${'Accepted formats: jpeg, png, jpg. Max size 10mb.'}">Valid url</small>
                            <p th:errors="*{photoUrl}" style="color:red;">URL error placeholder</p>
                        </div>
                    </div>

                    <div>
                        <input type="radio" name="upload-choice" id="upload-choice-url">
                        <label for="upload-choice-url">Add the URL for your photo</label>

                        <div class="reveal-if-active">
                            <label for="which-url">Add the link for your photo to upload</label>
                            <input type="text" id="which-url" name="which-url" class="require-if-active"
                                   data-require-pair="#upload-choice-url"
                                   th:field="*{photoUrl}">
                            <small th:text="${'A valid URL example: https://catpics.com/cat1.jpeg'}">Valid url</small>
                            <small th:text="${'Accepted formats: jpeg, png, jpg. Max size 10mb.'}">Valid url</small>
                            <p th:errors="*{photoUrl}" style="color:red;">URL error placeholder</p>

                            <label for="which-url-name">Add a name for your photo</label>
                            <input type="text" id="which-url-name" name="which-url-name" class="require-if-active"
                                   data-require-pair="#upload-choice-text"
                                   th:field="*{photoName}">
                            <p th:text="${duplicateName}">photoName error placeholder<</p>
                        </div>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Upload Photo</button>
                    <p th:text="${duplicateName}">photoName error placeholder<</p>
                </div>

            </form>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<div style="position: relative; margin-top: 100px;">
</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
    </div>
    <!-- /.container -->

</footer>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/front-end/vendor/jquery/jquery.min.js}"
        src="../static/front-end/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Contact form JavaScript -->
<script src="../static/front-end/js/jqBootstrapValidation.js"></script>
<script src="../static/front-end/js/contact_me.js"></script>
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
<script>
    var FormStuff = {

        init: function () {
            this.applyConditionalRequired();
            this.bindUIActions();
        },

        bindUIActions: function () {
            $("input[type='radio'], input[type='checkbox']").on("change", this.applyConditionalRequired);
        },

        applyConditionalRequired: function () {

            $(".require-if-active").each(function () {
                var el = $(this);
                if ($(el.data("require-pair")).is(":checked")) {
                    el.prop("required", true);
                } else {
                    el.prop("required", false);
                }
            });

        }

    };

    FormStuff.init();
</script>

</body>

</html>
