<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">

  <title>Photo Contest</title>

  <!-- Bootstrap core CSS -->
  <link  th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/front-end/css/modern-business.css}"
          href="../static/front-end/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../static/front-end/index.html" th:href="@{/}">Photo Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Register</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="../static/front-end/index.html" th:href="@{/}">Home</a>
      </li>
      <li class="breadcrumb-item active">Register</li>
    </ol>

    <!-- Register Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Enter your details to register</h3>
        <form name="sentMessage" id="contactForm" novalidate th:action="@{/auth/register}" th:object="${user}" method="post">
          <div class="control-group form-group">
            <div class="controls">

              <label for="first" th:text="#{user.label.first.name}" >First Name:</label>
              <input type="text" class="form-control" id="first"  required th:field="*{firstName}">
              <p th:errors="*{firstName}" style="color:red;">FirstName error placeholder<</p>
              <p class="help-block"></p>

            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">

              <label for="last" th:text="#{user.label.last.name}" >Last Name:</label>
              <input type="text" class="form-control" id="last"  required th:field="*{lastName}">
              <p th:errors="*{lastName}" style="color:red;">LastName error placeholder<</p>
              <p class="help-block"></p>

            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">

              <label for="username" th:text="#{user.label.username}" >Username:</label>
              <input type="text" class="form-control" id="username" required th:field="*{username}">
              <p th:errors="*{username}" style="color:red;">Username error placeholder<</p>
              <p class="help-block"></p>

            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">

              <label for="password" th:text="#{user.label.password}">Password:</label>
              <input type="password" class="form-control" id="password" required th:field="*{password}">
              <p th:errors="*{password}" style="color:red;">Password error placeholder<</p>
              <p class="help-block"></p>

            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">

              <label for="repeatPassword" th:text="#{user.label.password}">Password:</label>
              <input type="password" class="form-control" id="repeatPassword" required th:field="*{repeatPassword}">
              <p th:errors="*{repeatPassword}" style="color:red;">Password error placeholder<</p>
              <p class="help-block"></p>

            </div>
          </div>

          <!-- For success/fail messages -->
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Register</button>
        </form>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <div style="position: relative; margin-top: 100px;">
  </div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/front-end/vendor/jquery/jquery.min.js}"
          src="../static/front-end/vendor/jquery/jquery.min.js"></script>
  <script th:src="@{/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js}"
          src="../static/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Contact form JavaScript -->
  <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
  <script src="../static/front-end/js/jqBootstrapValidation.js"></script>
  <script src="../static/front-end/js/contact_me.js"></script>

</body>

</html>
