<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Photo Contest</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
        href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/front-end/css/modern-business.css}"
        href="../static/front-end/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">



      <a class="navbar-brand" href="index.html" th:href="@{/}">Photo Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="userEditPage.html" th:href="@{/users/account/edit}">Account Edit</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Users Home Page
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html" th:href="@{/}">Home</a>
      </li>
      <li class="breadcrumb-item active">Users Home Page</li>

    </ol>

    <!-- Content Row -->
    <div class="row">
      <!-- Sidebar Column -->
      <div class="col-lg-3 mb-4">
        <div class="list-group">
          <a href="index.html" class="list-group-item" th:href="@{/users/user/score}">View Rank and Score</a>
          <a class="list-group-item" th:href="@{/users/photo-archive/upload}"
             href="photoEntry.html">Upload Photo</a>
          <a class="list-group-item" th:href="@{/users/photo-archive/view-all}"
             href="viewAllUserPhotos.html">View My Photos</a>
          <a class="list-group-item" th:href="@{/users/contests/entered/finished}"
             href="enteredFinishedContests.html">Entered Finished Contests</a>
          <a class="list-group-item" th:href="@{/users/contests/entered/active}"
             href="enteredActiveContests.html">Entered Active Contests</a>
          <a class="list-group-item" th:href="@{/users/contests/open}"
             href="openToParticipateContests.html">View Available to Enter Open Contests</a>
          <a class="list-group-item" th:href="@{/users/contests/invitational}"
             href="invitedToParticipateContests.html">View Available to Enter Invitational Contests</a>
          <a class="list-group-item" th:if="${currentUser.getUserScore().getTotalScore()>151}" th:href="@{/users/contests/reviewable}"
             href="invitedToParticipateContests.html">View Available Review Contests</a>

        </div>
      </div>
      <!-- Content Column -->
      <div class="col-lg-9 mb-4">
        <h2 th:text="#{userpage.welcome(${currentUser.getFirstName()})}">Photo Junkies' home page!</h2>
        <p>Here you can find information about your current score and rank, the contests in which you have participated and new ones.
          You can review your fellow junkies' entries and see how well they have done!</p>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <div style="position: relative; margin-top: 100px;">
  </div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/front-end/vendor/jquery/jquery.min.js}"
          src="../static/front-end/vendor/jquery/jquery.min.js"></script>
  <script th:src="@{/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js}"
          src="../static/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
