<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">

  <title>Login</title>

  <!-- Bootstrap core CSS -->
  <link  th:href="@{/front-end/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/front-end/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/front-end/css/modern-business.css}"
          href="../static/front-end/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html" th:href="@{/}">Photo Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">User Score and Rank</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="../static/front-end/index.html" th:href="@{/users}">Users Home Page</a>
      </li>
      <li class="breadcrumb-item active">User score</li>
    </ol>

    <!-- Login Form -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Score and Rank Details</h3>
        <form name="sentMessage" id="contactForm" novalidate>

          <div class="col-lg-4 mb-4">
            <p th:text="${'Current score: '+userScore.getCurrentScore()}">
              current score
              <br>
            </p>
            <p>
            <p th:text="${'Current rank: '+userScore.getCurrentRank()}">
              current rank
              <br>
            </p>
            <p th:text="${'Score to next rank: '+userScore.getNextScore()}">
              score to next rank
              <br>
            </p>
            <p th:text="${'Next rank: '+userScore.getNextRank()}">
              next rank
              <br>
            </p>
          </div>
        </form>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <div style="position: relative; margin-top: 100px;">
  </div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Photo Contest 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/front-end/vendor/jquery/jquery.min.js"></script>
  <script src="../static/front-end/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Contact form JavaScript -->
  <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
  <script src="../static/front-end/js/jqBootstrapValidation.js"></script>
  <script src="../static/front-end/js/contact_me.js"></script>

</body>

</html>
